@import '_setting.scss';

$navbar-board-bg-color: #2b95d2;

.navbar-board{
    padding-left: $gap;
    display: flex;
    align-items: center;
    height: $navbar-board-height;
    font-size: 1.5rem;
    background-color: $navbar-board-bg-color;
  }