$gap : 10px;
$board-bg-color : rgb(200, 219, 219);
$navbar-board-bg-color: #2b95d2;
$common-element-bg: rgba(255, 255, 255, .24);

//Screen
$screen-lg: 1201px;
$screen-md: 992px;
$screen-sm: 768px;
$screen-phone: 480px;
$screen-ip6-down: "{max-width: 375px}";
