@import './_setting.scss';


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing : antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.3em;
  font-size: 14px;
}

.trello-master{
  height: 100vh;
  overflow: hidden;
  background-color: $navbar-board-bg-color;
  color: $app-main-text-color;
  .icon{
    font-size: 14px;
    margin-right: 3px;
  }

}

