@import './_setting.scss';

@import "~bootstrap/scss/bootstrap";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing : antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.3em;
  font-size: 14px;
}

.trello-master{
  height: 100vh;
  overflow: hidden;
  background-color: $navbar-board-bg-color;
  color: $app-main-text-color;
  .icon{
    font-size: 14px;
    margin:0 3px;
  }
  .viethoang-trello-container{
    margin: 0 15px;
    padding: 0;
  }

    textarea:focus, 
  textarea.form-control:focus, 
  input.form-control:focus, 
  input[type=text]:focus, 
  input[type=password]:focus, 
  input[type=email]:focus, 
  input[type=number]:focus, 
  [type=text].form-control:focus, 
  [type=password].form-control:focus, 
  [type=email].form-control:focus, 
  [type=tel].form-control:focus, 
  [contenteditable].form-control:focus {
    box-shadow: none;
    border: 1px solid $input-border-color;
  }

  .btn:focus, .btn:active{
    outline: none !important;
    box-shadow: none !important;
  }

  .viethoang-content-editable{
    background-color: inherit;
    border: none;
    font-size: inherit;
    font-weight: inherit;
    cursor: $cursor-pointer-special;
    &:focus {
      background-color: white;
      border: $input-border-color;
    }
  }

  span.cancel-icon{
    margin-left: $gap;
    cursor: $cursor-pointer-special;
    i {
      font-size: 21px;
      color: $alert-danger;
      &:hover{
        color:  darken($alert-danger, $amount: 20);
      }
    }
  }
}

